# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PostgreSQL
*.pgsql

# Odoo
*.pot

# Odoo local config
config/*.conf

# Environment files
.env
.env.*

# Local databases
*.sqlite3